@font-face {
  font-family: 'gothamRdBook';
  src: url("../fonts/GothamRounded-Book.eot");
  src: url("../fonts/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamRounded-Book.ttf") format("truetype"), url("../fonts/GothamRounded-Book.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gothamRdLight';
  src: url("../fonts/GothamRounded-Light.eot");
  src: url("../fonts/GothamRounded-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Light.woff") format("woff"), url("../fonts/GothamRounded-Light.ttf") format("truetype"), url("../fonts/GothamRounded-Light.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gothamRdBold';
  src: url("../fonts/GothamRounded-Bold.eot");
  src: url("../fonts/GothamRounded-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Bold.woff") format("woff"), url("../fonts/GothamRounded-Bold.ttf") format("truetype"), url("../fonts/GothamRounded-Bold.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gothamRdMedium';
  src: url("../fonts/GothamRounded-Medium.eot");
  src: url("../fonts/GothamRounded-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Medium.woff") format("woff"), url("../fonts/GothamRounded-Medium.ttf") format("truetype"), url("../fonts/GothamRounded-Medium.svg#alex_brushregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'cipherIconFont';
  src: url("../fonts/icomoon.eot?p7vee9");
  src: url("../fonts/icomoon.eot?#iefixp7vee9") format("embedded-opentype"), url("../fonts/icomoon.ttf?p7vee9") format("truetype"), url("../fonts/icomoon.woff?p7vee9") format("woff"), url("../fonts/icomoon.svg?p7vee9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'cipherIconFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-campfireB:before {
  content: "\e600"; }

.icon-cipherLogoBlack:before {
  content: "\e601"; }

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "gothamRdLight", sans-serif;
  background-color: #041938; }

a {
  color: #196a74;
  text-decoration: none; }

/* -------------------------------- 

Main Components 

-------------------------------- */
.cipher-background-wrapper {
  background-color: #001426;
  position: relative;
  overflow: hidden; }

.no-touch .cipher-background-wrapper {
    -webkit-perspective: 4000px;
    -moz-perspective: 4000px;
    perspective: 4000px; }

.cipher-background-wrapper::before {
    /* never visible - this is used in jQuery to check the device type */
    content: 'web';
    display: none; }

.touch .cipher-background-wrapper::before {
    /* never visible - this is used in jQuery to check the device type */
    content: 'mobile'; }

.cipher-background-wrapper .foreground {
    position: relative; }

.cipher-background-wrapper .foreground .hero_content {
    width: 500px;
    display: block;
    margin: 0 20%;
    padding-top: 20%;
    height: 500px;
    padding-bottom: 100px; }

.cipher-background-wrapper .foreground .hero_content .hero_title {
    padding-bottom: 50px; }

.cipher-background-wrapper .foreground .hero_content .hero_title h4 {
    padding-bottom: 50px; }

.cipher-background-wrapper .foreground .hero_content .hero_title h1 {
    font-size: 100px;
    color: #FAFAFA;
    font-weight: 300;
    vertical-align: middle;
    display: inline-block; }

.cipher-background-wrapper .foreground .hero_content .hero_title img {
    display: inline-block;
    vertical-align: middle;
    width: 120px; }

.cipher-background-wrapper .foreground .hero_content #icon_font {
    font-size: 30px; }

.cipher-floating-background {
    position: relative; }

.cipher-floating-background img {
    display: block;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* fixes a Firefox bug - images not correctly rendered*/
    background-color: rgba(255, 255, 255, 0.01); }

.cipher-floating-background img:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0; }

.no-touch .cipher-floating-background {
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }

.no-touch .cipher-floating-background.is-absolute {
      position: absolute; }

.no-touch .cipher-floating-background img:first-child {
      -webkit-transform: translateZ(50px);
      -moz-transform: translateZ(50px);
      -ms-transform: translateZ(50px);
      -o-transform: translateZ(50px);
      transform: translateZ(50px); }

.no-touch .cipher-floating-background img:nth-child(2) {
      -webkit-transform: translateZ(290px);
      -moz-transform: translateZ(290px);
      -ms-transform: translateZ(290px);
      -o-transform: translateZ(290px);
      transform: translateZ(290px); }

.no-touch .cipher-floating-background img:nth-child(3) {
      -webkit-transform: translateZ(400px);
      -moz-transform: translateZ(400px);
      -ms-transform: translateZ(400px);
      -o-transform: translateZ(400px);
      transform: translateZ(400px); }

.no-touch.no-preserve-3d .cipher-floating-background {
    /* we target browsers that don't support preserve-3d and show just a standard image - no effect visible */
    position: relative; }

.use-btn {
  display: inline-block;
  margin: 20px 20px;
  padding: 20px 50px;
  border-radius: 2px;
  background-color: #31bda5;
  color: white;
  font-size: 16px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  cursor: pointer; }

.use-btn.typeform-share .bttn {
    display: inline-block;
    padding: 20px 50px;
    border-radius: 2px;
    color: #fff;
    background-color: #31bda5;
    font-size: 16px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer; }

.use-btn.typeform-share .bttn:hover, .use-btn.typeform-share .bttn:focus, .use-btn.typeform-share .bttn:active {
    background-color: #4bb3a7;
    color: white;
    text-decoration: none;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s; }

.use-btn:hover, .use-btn:focus, .use-btn:active {
    background-color: #4bb3a7;
    color: white;
    text-decoration: none;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s; }

.learn-btn, .download-btn {
  display: inline-block;
  padding: 20px 50px;
  border-radius: 2px;
  color: #fff;
  background-color: #df4e5e;
  font-size: 16px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  cursor: pointer; }
 
.learn-btn.typeform-share .bttn, .download-btn.typeform-share .bttn {
    display: inline-block;
    padding: 20px 50px;
    border-radius: 2px;
    color: #fff;
    background-color: #df4e5e;
    font-size: 16px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer; }

.learn-btn.orange, .download-btn.orange {
    background-color: #f9bb3c; }

.learn-btn.form-btn, .download-btn.form-btn {
    border: 2px solid #df4e5e; }

.learn-btn.form-btn form input, .download-btn.form-btn form input {
      border: 2px solid #df4e5e; }

.learn-btn.form-btn:hover, .download-btn.form-btn:hover {
      border: 2px solid #CB293C; }

.learn-btn:hover, .learn-btn:focus, .learn-btn:active, .download-btn:hover, .download-btn:focus, .download-btn:active {
    background-color: #CB293C;
    color: white;
    text-decoration: none;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s; }

html, body {
  height: 100%; }

@media only screen and (min-width: 1024px) {
  body.new-color-1::before {
    background-color: #c06c69; }

  body.new-color-2::before {
    background-color: #bf69c0; }

  body.new-color-3::before {
    background-color: #699ec0; } }
body::before, body::after {
  /* the 2 underneath colored sections */
  content: '';
  position: fixed;
  /* trick to remove some annoying flickering on webkit browsers */
  width: 89.8%;
  max-width: 1024px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 50%;
  z-index: -1; }

body::before {
  top: 0;
  background-color: #f4bd89;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s; }

body::after {
  top: 50%;
  background-color: #196a74; }

header {
  position: relative;
  height: 50%;
  background-color: #041938;
  z-index: 2; }
  header h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1024px;
    text-align: center;
    color: #699ec0;
    font-size: 56px;
    font-size: 3.5rem; }

.cipher-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1024px;
  margin: 0 auto; }
  .cipher-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both; }

.cipher-service {
  position: relative;
  z-index: 2;
  min-height: 50px;
  margin-left: 56px;
  background-color: #041938;
  padding: 1em 1em 4em; }
  .cipher-service::before, .cipher-service::after {
    content: '';
    position: absolute;
    width: 56px;
    right: 100%;
    z-index: 2; }
  .cipher-service::before {
    top: 0;
    height: 50px;
    background-repeat: no-repeat; }
  .cipher-service::after {
    top: 50px;
    bottom: 0;
    background-image: url("../img/cipher-pattern-small.svg");
    background-repeat: repeat-y; }
  .cipher-service.cipher-service-divider::after {
    top: 0; }
  .cipher-service.cipher-service-divider:last-child {
    display: none; }
  .cipher-service.cipher-service-1::before {
    background-image: url("../img/cipher-icon-1-small.svg"); }
  .cipher-service.cipher-service-2::before {
    background-image: url("../img/cipher-icon-2-small.svg"); }
  .cipher-service.cipher-service-3::before {
    background-image: url("../img/cipher-icon-3-small.svg"); }
  .cipher-service.cipher-service-4::before {
    background-image: url("../img/cipher-icon-4-small.svg"); }
  .cipher-service h2 {
    color: #ffffff;
    margin-bottom: 1em; }
  .cipher-service p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.5); }

@media only screen and (min-width: 1024px) {
  .cipher-service {
    min-height: 525px;
    margin-left: 420px;
    padding: 6em 2em; }

  .cipher-service::before, .cipher-service::after {
    width: 420px; }

  .cipher-service::before {
    height: 325px; }

  .cipher-service::after {
    top: 325px;
    background-image: url("../img/cipher-pattern-large.svg"); }
    
  .cipher-service.cipher-service-divider:first-child, .cipher-service.cipher-service-divider:last-child {
    min-height: 50px;
    padding: 0; }
    
  .cipher-service.cipher-service-divider:last-child {
    display: block; }
    
  .cipher-service.cipher-service-1::before {
    background-image: url("../img/cipher-icon-1-large.svg"); }
    
  .cipher-service.cipher-service-2::before {
    background-image: url("../img/cipher-icon-2-large.svg"); }
    
  .cipher-service.cipher-service-3::before {
    background-image: url("../img/cipher-icon-3-large.svg"); }
    
  .cipher-service.cipher-service-4::before {
    background-image: url("../img/cipher-icon-4-large.svg"); }
    
  .cipher-service h2, .cipher-service p {
    color: #196a74;
    -webkit-transition: color, 0.5s;
    -moz-transition: color, 0.5s;
    transition: color, 0.5s; }
    
  .cipher-service h2 {
    font-size: 30px;
    font-size: 1.875rem; }
    
  .cipher-service p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.6; }

  .cipher-service.focus h2 {
    color: #ffffff; }
    
  .cipher-service.focus p {
    color: rgba(255, 255, 255, 0.5); } }

  .separator {
    position: relative;
    height: 500px;
    background-image: url(../img/pineforestdusk.png);
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat; }

@media screen and (max-width: 991px) {
  .cipher-background-wrapper .foreground .hero_content {
    height: 400px; }
    
  .cipher-background-wrapper .foreground .hero_content .hero_title h4 {
      padding-bottom: 40px; }
    
  .cipher-background-wrapper .foreground .hero_content .hero_title h1 {
      font-size: 80px; }
    
  .cipher-background-wrapper .foreground .hero_content .hero_title img {
      width: 100px; } }

@media screen and (max-width: 680px) {
  .cipher-background-wrapper .foreground .hero_content {
    height: 300px; }

  .cipher-background-wrapper .foreground .hero_content .hero_title h4 {
      padding-bottom: 30px; }
    
  .cipher-background-wrapper .foreground .hero_content .hero_title h1 {
      font-size: 60px; }
    
  .cipher-background-wrapper .foreground .hero_content .hero_title img {
      width: 80px; } }

@media screen and (max-width: 465px) {
  .cipher-background-wrapper .foreground .hero_content {
    height: 50px;
    padding-top: 10%; }
    
  .cipher-background-wrapper .foreground .hero_content .hero_title {
      padding-bottom: 20px; }
    
  .cipher-background-wrapper .foreground .hero_content .hero_title h4 {
        padding-bottom: 5px; }
    
  .cipher-background-wrapper .foreground .hero_content .hero_title h1 {
        font-size: 40px; }
    
  .cipher-background-wrapper .foreground .hero_content .hero_title img {
        width: 60px; }
    
  .cipher-background-wrapper .foreground .hero_content .use-btn {
      display: none; } }

/*# sourceMappingURL=style.css.map */