@import 'bourbon'; // http://bourbon.io/
@import 'fonts'; 
@import 'variables'; 
@import '../partials/variables'; // colors, fonts etc...

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

html {
}

body {
	font: {
		family: $lightfont; // variables inside partials > _variables.scss
	}
	background-color: #041938;
}

a {
	color: $color-2;
	text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

.cipher-background-wrapper {
	background-color: $color-3;
	position: relative;
	overflow: hidden;

	.no-touch & {
		@include perspective(4000px);
	}

	&::before {
		/* never visible - this is used in jQuery to check the device type */
		content: 'web';
		display: none;
	}

	.touch &::before {
		/* never visible - this is used in jQuery to check the device type */
		content: 'mobile';
	}
.foreground {
	position: relative;
	.hero_content {
		width: 500px;
		display: block;
		margin: 0 20%;
		padding-top: 20%;
		height: 500px; 
		padding-bottom: 100px;
		.hero_title {
			padding-bottom: 50px;
			h4{ padding-bottom: 50px; }
			h1 {
					font-size: 100px;
					color: $grey50;
					font-weight: 300;
					vertical-align: middle;
					display: inline-block;
				}
				img {
					display: inline-block;
					vertical-align: middle;
					width: 120px;		
				}
		}
		.hero_subtitle {
				
		}	
		#icon_font {
			font-size: 30px;
		}		
	}
}

}
.cipher-floating-background {
	position: relative;

	img {
		display: block;
		width: 100%;
		@include backface-visibility(hidden);
		/* fixes a Firefox bug - images not correctly rendered*/
		background-color: rgba(#FFF, .01);
	}

	img:not(:first-child) {
		position: absolute;
		top: 0;
		left: 0;
	}

	.no-touch & {
		top: 0;
		left: 0;
		@include transform-style(preserve-3d);
		@include transform(translateZ(0));

		&.is-absolute {
			position: absolute;
		}

		img:first-child {
			@include transform(translateZ(50px));
		}

		img:nth-child(2) {
			@include transform(translateZ(290px));
		}

		img:nth-child(3) {
			@include transform(translateZ(400px));
		}
	}

	.no-touch.no-preserve-3d & {
		/* we target browsers that don't support preserve-3d and show just a standard image - no effect visible */
		position: relative;
	}
}

.use-btn {
    display: inline-block;
    margin: 20px 20px;
    padding: 20px 50px;
    border-radius: 2px;
    background-color: $color2;
    color: white;
    font-size: 16px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 $shadow;   
    cursor: pointer;
    &.typeform-share .bttn {
      display: inline-block;
      // margin: 20px 0px;
      padding: 20px 50px;
      border-radius: 2px;
      color: #fff;
      background-color: $color2;      
      font-size: 16px; 
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      cursor: pointer;    
      &:hover, &:focus, &:active {
          background-color: $color2d;
          color: white;
          text-decoration: none;
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
          transition-delay: 0s;
      } 
    }    
      &:hover, &:focus, &:active {
          background-color: $color2d;
          color: white;
          text-decoration: none;
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
          transition-delay: 0s;
      }
}
.learn-btn, .download-btn {
    display: inline-block;
    // margin: 20px 0px;
    padding: 20px 50px;
    border-radius: 2px;
    color: #fff;
    background-color: $colorCTA;
    font-size: 16px; 
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer;
    &.typeform-share .bttn {
      display: inline-block;
      // margin: 20px 0px;
      padding: 20px 50px;
      border-radius: 2px;
      color: #fff;
      background-color: $colorCTA;
      font-size: 16px; 
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      cursor: pointer;      
    }
    &.orange {
      background-color: $color1;
    } 
    &.form-btn {
      border: 2px solid $colorCTA;
      form input {
          border: 2px solid $colorCTA;
      }
      &:hover {
          border: 2px solid $colorCTAdark;
      }
    }
      &:hover, &:focus, &:active {
          background-color: $colorCTAdark;
          color: white;
          text-decoration: none;
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
          transition-delay: 0s;
      }
}
html, body {
	height: 100%;
}

@include MQ(L) {
	body.new-color-1::before {
		background-color: $color-4;
	}

	body.new-color-2::before {
		background-color: $color-5;
	}

	body.new-color-3::before {
		background-color: $color-6;
	}
}

body::before, body::after {
	/* the 2 underneath colored sections */
	content: '';
	position: fixed;
	/* trick to remove some annoying flickering on webkit browsers */
	width: 89.8%;
	max-width: $L;
	@include center(x);
	height: 50%;
	z-index: -1;
}

body::before {
	top: 0;
	background-color: #df4e5e;
	@include transition(all .8s);
}

body::after {
	top: 50%;
	background-color: $color-2;
}

header {
	position: relative;
	height: 50%;
	background-color: #041938;
	z-index: 2;

	h1 {
		position: absolute;
		@include center;
		width: 90%;
		max-width: $L;
		text-align: center;
		color: $color-6;
		@include font-size(56px);
	}
}
.cipher-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}
.cipher-service {
	position: relative;
	z-index: 2;
	min-height: $icon-small-height;
	margin-left: $icon-small-width;
	background-color: #041938;
	padding: 1em 1em 4em;

	&::before, &::after {
		content: '';
		position: absolute;
		width: $icon-small-width;
		right: 100%;
		z-index: 2;
	}
	
	&::before {
		top: 0;
		height: $icon-small-height;
		background-repeat: no-repeat;
	}

	&::after {
		top: $icon-small-height;
		bottom: 0;
		background-image: url('../img/cipher-pattern-small.svg');
		background-repeat: repeat-y;
	}

	&.cipher-service-divider::after {
		top: 0;
	}

	&.cipher-service-divider:last-child {
		display: none;
	}

	&.cipher-service-1::before {
		background-image: url('../img/cipher-icon-1-small.svg');
	}

	&.cipher-service-2::before {
		background-image: url('../img/cipher-icon-2-small.svg');
	}

	&.cipher-service-3::before {
		background-image: url('../img/cipher-icon-3-small.svg');
	}
	
	&.cipher-service-4::before {
		background-image: url('../img/cipher-icon-4-small.svg');
	}

	h2 {
		color: $color-7;
		margin-bottom: 1em;
	}

	p {
		@include font-size(14px);
		line-height: 1.4;
		color: rgba($color-7, .5);
	}

	@include MQ(L) {
		min-height: $icon-large-height + 200px;
		margin-left: $icon-large-width;
		padding: 6em 2em;

		&::before, &::after {
			width: $icon-large-width;
		}

		&::before {
			height: $icon-large-height;
		}

		&::after {
			top: $icon-large-height;
			background-image: url('../img/cipher-pattern-large.svg');
		}

		&.cipher-service-divider:first-child, &.cipher-service-divider:last-child {
			min-height: 50px;
			padding: 0;
		}

		&.cipher-service-divider:last-child {
			display: block;
		}

		&.cipher-service-1::before {
			background-image: url('../img/cipher-icon-1-large.svg');
		}

		&.cipher-service-2::before {
			background-image: url('../img/cipher-icon-2-large.svg');
		}

		&.cipher-service-3::before {
			background-image: url('../img/cipher-icon-3-large.svg');
		}
		
		&.cipher-service-4::before {
			background-image: url('../img/cipher-icon-4-large.svg');
		}

		h2, p {
			color: $color-2;
			@include transition(color, .5s);
		}

		h2 {
			@include font-size(30px);
		}

		p {
			@include font-size(18px);
			line-height: 1.6;
		}

		&.focus h2 {
			color: $color-7;
		}

		&.focus p {
			color: rgba($color-7, .5);
		}
	}
}

.separator {
	position: relative;
	height: 500px;
	background-image: url(../img/pineforestdusk.png);
	z-index: 2;
	background-size: cover;
	background-repeat: no-repeat;
  background-position-y: 90%;
}
.orders {
	background-color: #001B1B;
	padding: 200px;
	color: #fafafa;
}

@media screen and (max-width:991px){ 
	.cipher-background-wrapper .foreground .hero_content { height: 400px; .hero_title { h4 { padding-bottom: 40px; } h1 { font-size: 80px;} img { width: 100px; } } } 
}

@media screen and (max-width:680px){
	.cipher-background-wrapper .foreground .hero_content { height: 300px;  .hero_title { h4 { padding-bottom: 30px; } h1 { font-size: 60px;} img { width: 80px; }} }	
}
@media screen and (max-width:465px){
	.cipher-background-wrapper { .foreground .hero_content { height: 50px; padding-top: 10%; .hero_title { padding-bottom: 20px; h4 { padding-bottom: 5px; } h1 { font-size: 40px;} img { width: 60px; } } .use-btn { display: none; } }}
} 
